* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

img {
  max-width: 100%;
  height: 250px;
  object-fit: cover;

  cursor: zoom-in;
}

.search-form {
  padding: 10px;
  background-color: rgba(65, 77, 241, 0.753);
  text-align: center;
  margin-bottom: 20px;
}

.input-value {
  outline: none;

  border-radius: 8px;
  border: none;
  padding: 10px;
}

.button-submit {
  border: none;
  padding: 6px;
  border-radius: 8px;
  background-color: yellow;
  cursor: pointer;

  transition: transform 0.25s linear;
}

.button-submit:hover {
  transform: rotate(360deg);
}

.gallery {
  display: flex;
  justify-content: center;

  /* Make a flex container multiline */
  flex-wrap: wrap;
  /* Set gap between rows and columns */
  gap: 40px;
  margin: auto;
  list-style: none;
}

.info {
  display: flex;

  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* .info-item {
  display: flex;
  flex-wrap: wrap;
} */

.photo-card {
  flex-basis: calc((100% - 300px) / 3);

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  transition: transform 0.25s linear;
}

.photo-card:hover {
  transform: scale(1.1);
  animation: animate125 3000ms infinite 1000ms;
}
/* -------------- */

.load-more {
  visibility: hidden;
}

.style-btn {
  display: flex;

  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;

  padding: 10px;

  background-color: black;
  color: cornsilk;

  border-radius: 8px;
  cursor: pointer;

  transition: transform 0.25s linear;
}

.style-btn:hover {
  transform: scale(1.4);
  animation: animate125 3000ms infinite 1000ms;

  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
